#inner{
    height: 100%;
    width:50%;
    border-radius:30px;
     position: relative;
     
     

}
html{
    width: 80%;
    height: 80%;
    justify-self:center;
    align-self: center;
    position:relative;
    margin:auto;
}
 .info> h1 ,.info>h3 ,.info>h4{
     position:relative; 
     justify-self:center;
    align-self: center; 
    margin: 0 0 4px 0;
}
 
 
.outer1{
    display:flex;
    height: 45%;
    width: 100%;
    position: relative;


}
.btn-outline-success{
    padding:0;
}
 
.outer2{
      height: 45%;
    width: 100%;
    position: relative;
    display:flex;
    
}
 
body{
    justify-items: center;
    height: 100%;
    width: 100%;
    position:relative;
   
}
.outer{
    position: relative;
     height: 85%;
    width: 100%;

}
.info{
    height: 25%;
    width: 100%;
    justify-items:center;
    align-content: center;
}
.inner1{
    position: relative;
    background-color:rgb(185, 18, 82);
     align-content: center;
     justify-items: center;
}
.inner2{
      position: relative;
    background-color: rgb(47, 47, 127);
     align-content: center;
     justify-items: center;
      
}
.inner3{
    background-color: orangered;
     align-content: center;
     justify-items: center;
      position: relative;
}
.inner4{
    background-color: rgb(132, 162, 196);
     align-content: center;
     justify-items: center;
      position: relative;
}
.flash{
    background-color: white;
    
}
.wrong{
    background-color:red;
}
.correct{
    background-color: green;
}
.handle{
    height: 8%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 1%;
}
 
